{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{##}
{#    {% for article in articles %}#}
{#        <p>{{ article.title }}</p>#}
{#    {% endfor %}#}
{##}
{#</body>#}
{#</html>#}

{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    EDU
{% endblock title %}

{% block content %}

<div class="container">

    <div class="row mt-4">

        {% for article in articles %}

        <div class="col-4 mb-4">

            <div class="card h-100">

                <h4 class="card-header">{{ article.title }}</h4>

                <div class="card-body">
                    <p class="card-text">{{ article.body|slice:'100' }}...</p>
                </div>

                <div class="card-footer">
                    <a href="{% url 'edu:article_detail' article.id %}" class="btn btn-primary">read more</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock content %}